* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

section {
    background: steelblue;
    margin: 40px auto;
    width: 400px;
    height: 400px;
    text-align: center;
    overflow: hidden;

    animation: rotateAndScale 1s 2s ease-in-out;
}

section .spidy {
    height: 100%;
    animation: move_spiderman 4s ease-in-out infinite;
}

@keyframes rotateAndScale {
    0% {
        transform: rotate(0) scale(1);
    }

    50% {
        transform: rotate(180deg) scale(1.3);

    }

    100% {
        transform: rotate(360deg) scale(1);
    }

}

@keyframes move_spiderman {
    0% {
        transform: translateY(-50px);
    }

    25% {
        transform: translateY(0) rotate(3deg);
    }

    50% {
        transform: rotate(-3deg);
    }

    75% {
        transform: rotate(3deg);
    }

    100% {
        transform: translateY(-50px);
    }
}