section {
    width: 100px;
    height: 100px;
    margin-bottom: 1rem;
}

section:nth-child(1) {
    background: blue;
    border-radius: 32px 32px 0 0;
}

section:nth-child(2) {
    background: green;
    border-radius: 0 0 32px 32px;
}

section:nth-child(3) {
    background: purple;
    border-radius: 50%;
}