* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    background: lightblue;
    width: 200px;
    margin: 50px auto;
    height: 300px;
    position: relative;
}

article {
    border: 1px solid black;
    height: 300px;
    width: 200px;
    transform: translate(100%, 0%);
    background: rgba(255, 51, 0, 0.584);
    padding: 1rem;
    box-shadow: 0px 0px 10px white inset;

    transition: transform 1.5s ease-in-out;
}

article * {
    font-weight: bold;
    font-size: large;
    color: white;
}

h2 {
    font-size: xx-large;
}

img {
    width: 100%;

    transition: transform 2s ease;
}

section:hover img {
    transform: scale(1.5);
}

section:hover article {
    transform: translate(-0%, -95%) rotate(-1turn);
}