/* IMPORTAR FUENTES */
@font-face {
    font-family: 'nevis';
    src:
        url('../assets/fonts/nevis.eot') format('embedded-opentype'),
        url('../assets/fonts/nevis.woff') format('woff'),
        url('../assets/fonts/nevis.ttf') format('truetype'),
        url('../assets/fonts/nevis.svg') format('svg'), ;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'icons';
    src: url('../assets/fonts/websymbols-regular-webfont.eot') format('embedded-opentype');
    src: url('../assets/fonts/websymbols-regular-webfont.svg') format('svg');
    src: url('../assets/fonts/websymbols-regular-webfont.ttf') format('truetype');
    src: url('../assets/fonts/websymbols-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fajala';
    src: url('../assets/fonts/FjallaOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

ul,
li {
    z-index: 5;
}

/* ESTILOS GENERALES */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all 0.1s ease;
}

body {
    background-image: url('../assets/img/paven.png');
}

/* CABECERA */

#header {
    min-width: 1024px;
    width: 100%;
    height: 250px;
    margin: 0 auto;
}

#header a {
    text-decoration: none;
    color: #70b231;
}

#header .logotipo {
    width: 720px;
    margin: 0 auto;
    padding-top: 20px;
}

#header .logotipo img {
    display: block;
    margin: 0 auto;
    width: 140px;
}

#header h1 {
    text-align: center;
    font-size: 40px;
    font-family: 'nevis';
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-top: 10px;
    text-shadow: 0px 2px 1px #333;
}

#header h1:hover {
    text-shadow: 0px 2px 1px #333, 0px 0px 7px #70b231;
}

/* BARRA DE NAVEGACION */
#nav {
    min-width: 100%;
    height: 40px;
    background: #333;
    color: white;
    font-family: sans-serif, Helvetica, Arial;
    font-size: 14px;
    box-shadow: 0px 0px 2px gray;
}

#nav ul {
    list-style: none;
    margin: 0px auto;
    width: 1090px;
}

#nav>ul>li {
    float: left;
    line-height: 40px;
    border-right: 1px solid gray;
    position: relative;
}

#nav>ul>li:hover {
    background: #70b231;
    box-shadow: 0px 0px 4px green inset;
}

#nav>ul>li>a:first-of-type {
    border-left: 1px solid gray;
}

#nav ul a {
    text-decoration: none;
    display: block;
    color: white;
    padding-inline: 20px;
}

/* DARLE ESTILOS MENU DESPLEGABLE */
#nav>ul>li>ul {
    display: none;
    position: absolute;
    width: 160px;
    box-shadow: 0px 2px 2px gray;
}

#nav>ul>li:hover>ul {
    display: block;
}

#nav>ul>li>ul>li {
    background: #f2f1f0;
    border-bottom: 1px solid #d6d6d6;
    padding: 8px;
    line-height: 25px;
    font-size: 13px;
}

#nav>ul>li>ul>li>a {
    color: #333;
    text-decoration: none;
}

#nav>ul>li>ul>li:hover {
    background: #ede7e7;
    box-shadow: 0px 0px 6px #ccc inset;
}

/* BARRA LATERAL */
#aside,
#frase {
    width: 200px;
    background: white;
    float: left;
    margin: 30px;
    border: 1px solid #ccc;
    box-shadow: 0px 2px 2px #ccc;
}

#frase {
    padding: 10px;
    font-size: 14px;
}

#aside .widget {
    width: 180px;
    margin: 0px auto;
    padding: 8px;
    padding-inline: 10px;
    font-size: 14px;
    border-bottom: 1px dashed #333;
}

#aside .widget:last-of-type {
    margin-bottom: 20px;
}

#aside h3 {
    width: 100%;
    color: #333;
    text-align: center;
    padding-block: 2px;
    margin-bottom: 15px;
    background: #f2f3f2;
    border: 1px solid #ccc;
    border-inline: none;
}

/* FORMULARIO  */
input[type=text],
input[type=password] {
    border: 1px solid #c9c9c9;
    box-shadow: 0px 0px 2px #ccc inset;
    background: white;
    padding: 1px;
    padding-block: 2px;
}

input[type=text]:focus,
input[type=password]:focus {
    outline: none;
    border: 1px solid #70b231;
    color: black;
}

input[type=submit] {
    display: block;
    margin: 0 auto;
    border-radius: 2px;
    border: 1px solid green;
    width: 60px;
    color: white;
    background: #70b231;
    padding: 3px;
    cursor: pointer;
    margin-top: 10px;
}


input[type=submit]:hover {
    box-shadow: 0px 0px 4px grey;
}

input[type=submit]:active {
    box-shadow: 0px 0px 5px black inset;
    text-shadow: 0px 0px 5px black;
}

#aside div a {
    display: block;
    width: 95%;
    margin-block: 2px;
    text-decoration: none;
    color: #70b231;
}

#aside a:visited {
    color: #529125 !important;
}

#aside a:hover {
    color: #285616 !important;
}

#aside li {
    list-style: square;
    margin-left: 20px;
}

.red {
    color: red !important;
}

.blue {
    color: blue !important;
}

#sections {
    float: right;
    width: 75%;
    font-family: sans-serif, Arial, Helvetica;
    margin-right: 20px;
}

#sections .titulo {
    font-family: 'fajala';
    font-size: 32px;
    font-weight: normal;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

#sections section {
    margin-top: 40px;
    background: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 4px #c9c9c9;
    color: #333;
    position: relative;
}

#sections section article {
    margin: 20px 10px;
}

#sections section .date {
    color: gray;
    font-size: 14px;
}

#sections .stickerOne {
    position: absolute;
    top: -15px;
    left: 15px;
}

#sections .stickerTwo {
    position: absolute;
    top: -15px;
    right: 15px;
}

.icon {
    font-family: 'icons';
    float: left;
    margin-right: 5px;
    margin-top: -2px;
}

.clearfix {
    float: none;
    clear: both;
}

.history {
    float: right;
    margin-right: 20px;
    margin-block: 20px;
}

#footer {
    width: 100%;
    background: #333;
    text-align: center;
    padding: 20px;
    color: white;
}

#footer a{
    color: lime;
}